@import "../../../style/_mixins.scss";

.card-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #000;
  background: #ffffff;
  font-size: 10px;
  padding: .5rem 0;
  border-radius: 1rem;
  font-family: 'Avenir', sans-serif;
  @include respond(tab){
    width: 400px;
  }

  .inner-card-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    .fa-star {
      color: gold;
    }

    .title-wrapper {
      width: 40%;

      div{
        &:first-child{
          font-weight: 600;
        }
      }
    }

    .image-wrapper{
      width: 100px;
      height: 50px;
      border-radius: 8px;
      font-family: 'Avenir', sans-serif !important;
      object-fit: cover;
       img {
        width: 100%;
       }
    }

    .like-wrapper {
      img{
        width: 20px;
        padding-bottom: 20px;
      }
    }
  }

  .inner-card-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.5rem 1rem 0 1rem;
    font-size: .8rem;
  }

  .horizontal-line {
    width: 90%;
    margin: .5rem auto;
    height: 1px;
    background: #000;
  }

  .inner-card-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-size: .8rem;

     > div {
      &:first-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        width: 90%;
        div {
          &:first-child{
            width: 80%;
          }
          &:last-child {
            width: 40%;
            color: #00BD71;
            cursor: pointer;
          }
        }
      }

    }
  }

  .card-dates{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
    margin: .8rem auto;
    div {
      background: #F5F5F5;
      width: 30%;
      padding: 8px;
      border-radius: 8px;
      cursor: pointer;

      &:hover{
        background: #cdcdcd;
      }
    }
  }
}
