<div class="filter-container">
  <div class="filter-tabs">
    <ul>
      <li>APPOINTMENTS</li>
      <li>CLASSES</li>
      <li>ONLINE</li>
    </ul>
  </div>
  <br />
  <div class="filters">
    <div class="filter-search">
      <input class="filter-input" placeholder="Search for a service, provider or symptom" type="text"/>
    </div>
    <div class="vertical-line"></div>
    <div class="filter-location">
      <input class="filter-input" placeholder="Select a location" type="text"/>
    </div>
    <div class="vertical-line"></div>
    <div class="filter-calendar">
      <input class="filter-input" placeholder="When do you want to go?" type="date"/>
    </div>
    <div class="filter-button">
      Discover
    </div>
  </div>
</div>
